.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2{
  padding:10px;
}
.progress{
  margin:30px;
}
/*.screen{
  margin-top:50px;
}*/
.body{
  width:100%;
  height:763px;
  text-align: center;
  background-image: url("https://cdn.suwalls.com/wallpapers/photography/basket-of-hazelnuts-on-the-wooden-table-48536-2880x1800.jpg");
 background-repeat: no-repeat;
  background-size: cover;
    background-position: center top;
}
h3{ 
  padding-top: 10px;
  margin-top: 0px;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 1em #00ffff; /* Параметры тени */
  margin-left:55%;
  width: 800px;
  text-align:left;
  min-width: 30%;
  max-width: 70%;
  height:50px;

}
p{
  margin-left:50px;
  text-align:left;
  color:white;
  font-size:32px;
  text-shadow: 2px 2px 2px black;
  min-width: 200px;
}
.newDay{
  margin-top: 30px;
}